/* GLOBAL STYLES */

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.logo span:first-of-type {
  font-weight: 500;
  color: cornflowerblue;
}

.logo span:last-of-type {
  font-weight: 300;
}

nav span {
  margin-left: 1rem;
}
