/* GLOBAL STYLES */

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.1;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.5;
}

p {
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
}

button {
  font-family: "Roboto", "Arial", sans-serif !important;
  font-size: 1.125rem;
  font-weight: 300;
  padding: 1rem;
  background-color: #000;
  color: white;
  border: 0;
  width: 12rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* CONTAINERS */

.container {
  display: flex;
  padding: 2rem 1.5rem;
}

.sub-section-left {
  width: 60%;
}

.sub-section-right {
  width: 40%;
  padding-left: 1.5rem;
}

/* CONTENT */

.hero-caption {
  margin-top: 2rem;
}

.hero-caption p {
  margin-top: 1.5rem;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.logo span:first-of-type {
  font-weight: 500;
  color: cornflowerblue;
}

.logo span:last-of-type {
  font-weight: 300;
}

nav span {
  margin-left: 1rem;
}

/* MAIN BANNER */

.banner {
  background-color: #f2f2f2;
}

.banner-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-title h3 {
  margin: 1.5rem 0;
}

/* INFORMATION */

.info-item {
  display: flex;
  align-items: center;
  padding: 1rem
}

.info-item:first-child {
  padding-top: 0;
}

.info-img {
  width: 35%;
}

.info-title {
  width: 65%;
  margin-left: 1.5rem;
}

.info-title a {
  display: block;
  margin-top: 1rem;
}
