/* GLOBAL STYLES */

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  color: #000;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3 {
  font-family: "Droid sans", "Arial", sans-serif;\
  color: #0a2239;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #0a2239;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.5;
  color: #0a2239;
}

p {
  line-height: 1.5;
  font-weight: 300;
}

img {
  width: 100%;
  height: auto;
}

button {
  font-family: "Roboto", "Arial", sans-serif !important;
  font-size: 1.125rem;
  font-weight: 300;
  padding: 1rem;
  background-color: #000;
  color: white;
  border: 0;
  width: 12rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

button:hover {
  background-color: hsl(209, 60%, 33%);
}

/* CONTAINERS */

.container {
  padding: 2rem 1.5rem;
}

.flex {
  display: flex;
}

.sub-section-left {
  width: 60%;
}

.sub-section-right {
  width: 40%;
  padding-left: 1.5rem;
}

/* CONTENT */

.hero-caption {
  margin-top: 2rem;
}

.hero-caption p {
  margin-top: 1.5rem;
}

.author {
  font-size: 0.875rem;
  font-weight: 300;
  font-style: italic;
  color: #0A2239;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: #fb3640;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.logo img {
  width: auto;
}

.logo span:first-of-type {
  font-weight: 500;
  color: #fff;
}

.logo span:last-of-type {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
}

nav span {
  margin-left: 1rem;
  font-weight: 300;
}

nav span a {
  transition: color 0.2s linear;
}

nav span a:hover {
  color: hsl(220,7%,82%);
}

.mobile-nav {
  display: none;
}

.mobile-nav span {
  margin-left: 3rem;
}

.mobile-nav span,
.mobile-nav a {
  display: inline-block;
}

.mobile-nav img {
  width: auto;
  height: 2rem;
}

/* MAIN BANNER */

.banner-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-title h3 {
  margin: 1.5rem 0;
  font-weight: 300;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000;
}

/* INFORMATION */

.info {
  background-color: rgba(238, 240, 242, 0.45);
}

.card a {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  transition: background-color 0.4s ease-in-out;
}

.card a:hover {
  background-color: rgba(172, 189, 186, 0.3);
}

.card a:hover .card-title .more {
  color: hsl(219, 83%, 41%);
}

.card-img {
  width: 35%;
}

.info .card-img img:last-child {
  display: none;
}

.card-title {
  width: 65%;
  margin-left: 1.5rem;
}

.card-title p {
  padding: 0.5rem 0;
  color: #000;
}

.card-title .more {
  color: #5386E4;
}

/* COURSES */

.courses {
  flex-direction: column;
}

.courses h2 {
  text-align: center;
}

.courses-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 3rem;
}

.courses-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 2rem;
  width: 100%;
}

.course-card {
  flex-basis: 33.33%;
  margin-right: 2rem;
  background-color: #eef0f2;
}

.course-card:last-child {
  margin-right: 0;
}

.course-card-title {
  padding: 1rem 1rem 1.5rem 1rem;
}

.course-card-title p {
  margin-top: 0.5rem;
}

.course-card-title p:first-of-type {
  text-transform: uppercase;
  color: #fb3640;
}

/* THESIS EXHIBIT */

.thesis {
  background-color: rgba(238, 240, 242, 0.45);
}

.thesis h2 {
  text-align: center;
}

.thesis .flex {
  margin-top: 2rem;
}

.thesis .hero-caption p {
  margin-top: 0.5rem;
}

/* FOOTER */

footer {
  background-color: #ACBDBA;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 400;
}

footer a {
  margin-left: 1rem;
  transition: color 0.2s linear;
}

footer a:hover {
  color: hsl(209, 60%, 33%);
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1220px) {
  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.125rem;
  }

  h3 {
    font-size: 1.375rem;
  }
}

@media only screen and (max-width: 1120px) {
  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .sub-section-left {
    width: 55%;
  }

  .sub-section-right {
    width: 45%;
  }

  .card-title p,
  .card-title a {
    font-size: 0.875rem;
  }

  .card-title a {
    margin-top: 0.5rem;
  }
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 2.375rem;
  }

  h2 {
    line-height: 1.25;
  }

  .sub-section-left,
  .sub-section-right {
    width: 50%;
  }

  .hero-caption {
    margin-top: 1.25rem;
  }

  .hero-caption p {
    margin-top: 1rem;
  }

  .card-img {
    width: 45%;
  }

  .card-title {
    width: 55%;
  }

  .course-card-title p {
    font-size: 0.875rem;
  }

  button {
    font-size: 1rem;
    padding: 0.75rem;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.875rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  .banner-title h3 {
    margin: 1.125rem 0px;
  }

  .sub-section-left {
    width: 45%;
  }

  .sub-section-right {
    width: 55%;
  }

  .courses-wrap {
    margin: 0 1rem;
  }

  .courses-row:last-child {
    margin-top: 1.5rem;
  }

  .course-card {
    margin-right: 1.5rem;
  }
}

@media only screen and (max-width: 680px) {
  .logo span,
  .desktop-nav,
  .info .sub-section-left,
  .thesis .sub-section-right,
  .info .card-img img:first-child,
  .course-card img,
  .course-card-title p,
  .thesis .hero-caption,
  footer span  {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .flex {
    flex-direction: column;
  }

  .container {
    padding: 0;
  }

  .sub-section-left,
  .sub-section-right {
    width: auto;
  }

  .sub-section-right {
    padding: 0 1rem;
  }

  .banner-title {
    margin: 2rem 0;
    font-size: 1.25rem;
  }

  .banner-title h3 {
    margin: 2rem 0 1.5rem 0;
  }

  h1 {
    line-height: 1.3;
    font-size: 2.25rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.375rem;
  }

  button {
    width: 100%;
    padding: 1rem;
  }

  .info .sub-section-right {
    padding: 0;
  }

  .card a {
    padding: 1rem 1rem 2rem 1rem;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
  }

  .card-img {
    width: 100%;
  }

  .info .card-img img:last-child {
    display: block;
  }

  .card-title {
    width: auto;
    margin: 1rem;
  }

  .card-title p,
  .card-title a {
    font-size: 1rem;
  }

  .courses-wrap {
    margin: 1rem 1rem 2rem 1rem;
  }

  .courses-row {
    flex-direction: column;
    margin-top: 0;
  }

  .courses-row:last-child {
    margin-top: 0;
  }

  .course-card {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .courses,
  .thesis {
    padding-top: 2rem;
  }

  .thesis .flex {
    margin: 1rem 0 1.5rem 0;
  }
}
