/* GLOBAL STYLES */

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.1;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.5;
}

p {
  line-height: 1.5;
  font-weight: 300;
}

img {
  width: 100%;
  height: auto;
}

button {
  font-family: "Roboto", "Arial", sans-serif !important;
  font-size: 1.125rem;
  font-weight: 300;
  padding: 1rem;
  background-color: #000;
  color: white;
  border: 0;
  width: 12rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* CONTAINERS */

.container {
  padding: 2rem 1.5rem;
}

.flex {
  display: flex;
}

.sub-section-left {
  width: 60%;
}

.sub-section-right {
  width: 40%;
  padding-left: 1.5rem;
}

/* CONTENT */

.hero-caption {
  margin-top: 2rem;
}

.hero-caption p {
  margin-top: 1.5rem;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.logo span:first-of-type {
  font-weight: 500;
  color: cornflowerblue;
}

.logo span:last-of-type {
  font-weight: 300;
}

nav span {
  margin-left: 1rem;
}

/* MAIN BANNER */

.banner {
  background-color: #f2f2f2;
}

.banner-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-title h3 {
  margin: 1.5rem 0;
}

/* INFORMATION */

.card {
  display: flex;
  align-items: center;
  padding: 1rem
}

.card:first-child {
  padding-top: 0;
}

.card-img {
  width: 35%;
}

.card-title {
  width: 65%;
  margin-left: 1.5rem;
}

.card-title a {
  display: block;
  margin-top: 1rem;
}

/* COURSES */

.courses {
  flex-direction: column;
  background-color: #f2f2f2;
}

.courses h2 {
  text-align: center;
}

.courses-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 3rem;
}

.courses-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 2rem;
}

.course-card {
  flex-basis: 33.33%;
  margin-right: 2rem;
  background-color: #fff;
}

.course-card:last-child {
  margin-right: 0;
}

.course-card-title {
  padding: 1rem 1rem 1.5rem 1rem;
}

.course-card-title p {
  margin-top: 0.5rem;
}

/* THESIS EXHIBIT */

.thesis h2 {
  text-align: center;
}

.thesis .flex {
  margin-top: 2rem;
}

.thesis .hero-caption p {
  margin-top: 0.5rem;
}

/* FOOTER */

footer {
  border-top: 1px solid #ccc;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer a {
  margin-left: 1rem;
}
