/* GLOBAL STYLES */

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.1;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.5;
}

.container {
  padding: 2rem 1.5rem;
}

button {
  font-family: "Roboto", "Arial", sans-serif !important;
  font-size: 1.125rem;
  font-weight: 300;
  padding: 1rem;
  background-color: #000;
  color: white;
  border: 0;
  width: 12rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.logo span:first-of-type {
  font-weight: 500;
  color: cornflowerblue;
}

.logo span:last-of-type {
  font-weight: 300;
}

nav span {
  margin-left: 1rem;
}

/* MAIN BANNER */

.banner {
  background-color: #f2f2f2;
  display: flex;
}

.banner-img {
  width: 60%;
}

.banner-img img {
  width: 100%;
  height: auto;
}

.banner-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5rem;
  padding-right: 10%;
}

.banner-title h3 {
  margin: 1.5rem 0;
}
